extends addlayout

block content
  a(href= "/", id= "backButton") <
  h1 Add
  hr
  br
  form
      input(type="text", id="addName", placeholder="Namn:")
      br
      br
      br
      div.text
      input(type="text", id="addDescription", placeholder="Beskrivning:")
      br
      br
      input(type="submit", value="Add", id="addButton" ,onclick="window.location='/';")
      br
  
  div.weather
    ul
