extends addlayout

block content
  a(href= "/", id= "backButton") <
  br
  br
  hr
  br
  form
    input(type="text", id="addName", placeholder="Namn:")
    br
    br
    br
    div.text
    input(type="text", id="addDescription", placeholder="Beskrivning:")
    br
    br
    input(type="submit", value="+", id="addButton")
    br
  
  div.weather
    ul
