extends addlayout

block content
  h1 Add
  a(href= "/", id= "backButton") <
  br
  form
  
      input(type="text", id="addName", placeholder="Namn:")
      br
      input(type="text", id="addDescription", placeholder="Beskrivning:")
      br
      input(type="submit", value="+", id="addButton" ,onclick="window.location='/';")
      br
  
  div.weather
    ul