doctype html
html
  head
    title= "Notes"
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nanum Brush Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Be Vietnam' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet'>
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content

    script(src="/javascripts/add.js")
