extends layout

block content

  div.header
<<<<<<< HEAD
    
    h1 titel
    a(href= "/add") +
=======
    a(href= "/add") +
    h1 Titles
    hr
  
>>>>>>> d16f9c4c17a09abf173c1c26fa6ec1141cd4efa1

  div.weather
    ul#utgifter