extends layout

block content
  div.header
    a(href= "/add", id= "noteAddButton") +
    img(id="addLogo",src="images/logo.png", href= "/add") 
    h1 Notes
    br
    br
    br
    br
  hr
  br

  
  div.weather
    ul#utgifter