extends updatelayout

block content
  a(href= "/", id= "backButton") <
  img(id="addLogo",src="images/logo.png", href= "/add") 
  h1 Notes
  br
  br
  br
  br
  hr
  br
  form(id= "usform")
    input(type="text", id="printName", placeholder="TITLE")
    br
    br
    br
    div.text
    textarea(type="text", id="printDescription", placeholder="...", form= "usform")
    br
    br
    select(form = "usform", id= "addColor")
      option(id= "colorOption", value="#FFF", style= "background-color: #fff") White
      option(id= "colorOption",value="#F3E0E0", style= "background-color: #F3E0E0") Red
      option(id= "colorOption",value="#E0E0F3", style= "background-color: #E0E0F3") Blue
      option(id= "colorOption",value="#E0F3E2", style= "background-color: #E0F3E2") Green
      option(id= "colorOption",value="#F3EDE0", style= "background-color: #F3EDE0") Orange
    input(type="submit", value="v", id="updateButton")
  button(type="submit", id="deleteButton") x
    br
  
  div.weather
    ul