body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFCFB;
}

#header {
  margin-top: -1%;
  height:40%;
  width:200%;
  background-color: blue;
}

#notesList {
  float: left;
  background-color: #ffffff;
  margin:4.5%;
  width:30%;
  height: 100%;
  padding: 5%;
  background-color: #ffffff;
  border:none;
  box-shadow: 1px 1px 5px grey;
  border-radius: 20px;
}

#notesListTitle {
  font-size: 25px;
}

a {
  color: #000000;
  font-size: 50px;
  text-decoration: none;
}
h1 {
  text-align: center;
}
input {
  padding: 12px 20px;
  box-sizing: border-box;
}
div.text {
  text-align: center;
}
#addDescription {
  font-size: 25px;
  height: 1200px;
  width: 90%;
  padding: 0px 0px 1100px 20px;
  margin-left: 5%;
  margin-top:2%;
  background-color: #ffffff;
  border:none;
  box-shadow: 1px 1px 5px grey;
  border-radius: 20px;
}
#addName {
  font-size: 25px;
  margin-left: 5%;
  margin-top:5%;
  background-color: #ffffff;
  border:none;
  box-shadow: 1px 1px 5px grey;
  border-radius: 20px;
}
#addButton {
  margin-left: 5%;
  margin-top:5%;
  padding:0.5% 2% 0.5% 2%;
  font-size: 50px;
  background-color: #ffffff;
  border:none;
  box-shadow: 1px 1px 5px grey;
  border-radius: 50px;
}

#backButton {
  padding:0.5% 2% 0.5% 2%;
  font-size: 50px;
  background-color: #ffffff;
  border:none;
  box-shadow: 1px 1px 5px grey;
  border-radius: 50px;
}