body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F1F1F3;
}

#notesList {
  float: left;
  background-color: #fff;
  margin:4%;
  margin-left: 0%;
  width:30%;
  height: 100%;
  padding: 8%;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 20px;
  position: static;
}

#notesList:active, #addButton:active, #backButton:active, #noteAddButton:active {
  background-color: #E0E0F3;
  outline: none;
}

#notesListTitle {
  font-size: 60%;
}

#notesListDate{
  font-size: 15px;
}

a {
  color: #000000;
  font-size: 50px;
  text-decoration: none;
  
}
h1 {
  font-family: 'Damion';
  text-align: center;
  float: right;
  margin-right: 1%;
  margin-top: 0%;
  font-weight: normal;
  font-size: 45px;
}
input {
  padding: 12px 20px;
  box-sizing: border-box;
}
div.text {
  text-align: center;
}
#addDescription {
  font-size: 1.35vw;
  width: 90%;
  padding: 2% 0px 120% 20px;
  margin-left: 5%;
  margin-top:2%;
  background-color: #fff;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 20px;
}

#printDescription{
  font-size: 1.35vw;
  width: 90%;
  padding: 2% 0px 120% 20px;
  margin-left: 5%;
  margin-top:2%;
  background-color: #E0E0F3;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 20px;
}

#addDescription:focus{
  outline: none;
  background-color: #fff;
}

#printDescription:focus{
  outline: none;
  background-color: #fff;
}

#addName {
  font-size: 3vw;
  margin-left: 5%;
  margin-top:5%;
  background-color: #fff;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 20px;
}

#printName {
  font-size: 3vw;
  margin-left: 5%;
  margin-top:5%;
  background-color: #E0E0F3;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 20px;
}

#addName:focus, #printName:focus {
  outline: none;
  background-color: #fff;
}

#addButton, #updateButton {
  float: right;
  margin-right: 5%;
  margin-top:3%;
  padding:0% 3.6% 0% 3.6%;
  font-size: 70px;
  background-color: #fff;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 50px;
  font-family: 'Qwigley';
  font-weight: bolder;
}

#addButton:focus, #updateButton:focus {
  outline: none;
  background-color: #E0E0F3;
}

#backButton {
  padding:0% 2.2% 0% 2.2%;
  font-size: 60px;
  background-color: #fff;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 50px;
  font-family: 'Nanum Brush Script';
}

#noteAddButton {
  padding:0% 2% 0% 2%;
  font-size: 60px;
  background-color: #FFFCFB;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 50px;
  font-family: 'Nanum Brush Script';
}

#addLogo {
  width: 8%;
  float: right;
}

#deleteButton{
  float: right;
  margin-right: 5%;
  margin-top:3%;
  padding:0% 3.6% 0% 3.6%;
  font-size: 70px;
  background-color: #fff;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 50px;
  font-family: 'Qwigley';
  font-weight: bold;
}


