body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ede7e4;
}

#notesList {
  float: left;
  background-color: #929490;
  margin:5%;
  width:30%;
  height: 100%;
  padding: 5%;
}

#weather{
  background-color: blue;
  width: 100%;
  height: 3%;
}

